@tailwind base;
@tailwind components;
@tailwind utilities;

.text-outline {
  color: white; /* Set the text color to white */
  -webkit-text-stroke-width: 1.5px; /* Outline width */
  -webkit-text-stroke-color: black; /* Outline color */
}
.nav a {
  /* border-right: 1px solid black; */
  padding: 2.2rem 2.5rem;
}
.nav a:first-child {
  /* border-left: 1px solid black; */
  /* border-right: 1px solid black; */
  padding: 2.2rem 2.5rem;
}

h1 {
  @apply text-3xl md:text-6xl lg:text-8xl;
}

h2 {
  @apply text-2xl md:text-4xl lg:text-6xl;
}

h3 {
  @apply text-xl md:text-3xl lg:text-4xl;
}

h4 {
  @apply text-lg md:text-xl lg:text-2xl;
}
h5 {
  @apply text-sm md:text-lg lg:text-lg;
}

h3 {
  @apply text-lg md:text-3xl;
}

label {
  @apply my-4  rounded-md focus:outline-none;
}

textarea {
  @apply my-4  rounded-md focus:outline-none border-neutral-200 border;
}


input {
  @apply py-4 px-6 my-4 rounded-md focus:outline-none border-neutral-200 border;
}

button {
  @apply mt-4 p-2 bg-black hover:bg-white hover:text-black text-white rounded-md transition duration-300 border;
}

p {
  @apply text-justify;
}

.domain{
  @apply flex justify-between cursor-pointer m-1 items-center border w-full border-neutral-200 rounded-xl 
}

.about{
  @apply hover:bg-white hover:text-black transition-all duration-300 grow flex flex-col items-center justify-center w-full py-16 pb-24
}

/* _________ scrolling below */
.skills-container {
  overflow: hidden;
}

.skills-scroll-left,
.skills-scroll-right {
  display: inline-block;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.skills-scroll-left {
  animation-name: scrollLeft;
}

.skills-scroll-right {
  animation-name: scrollRight;
}

@keyframes scrollLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scrollRight {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.skill-item {
  padding: 0.5rem 0;
}